h1 {
  /* #1 */
  border: 6px solid yellow;
  padding: 40px;
  margin: 20px;
  background-color: #87CEEB;
}
p {
  /* #1 */
  border: 3px solid ;
  padding: 30px;
  margin: 30px;
  background-color: #3FBF5D;
}
